<h1>About</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <img src=>
    
    <%= image_tag "Top10StrongestAnimeCharactersOfAllTime.jpg", width: 300, alt: "Profile Image" %>
  </div>
  
  <div class="col-md-8">
    <p>Oh hello. This is an about page.</p>
  </div>
</div>