<h1>Contact</h1>

<p><%= number_to_phone "5555555555" %></p>

<p><%= number_to_currency "18450" %></p>

<p><%= number_with_delimiter "1382948823473215089" %></p>

<p>Note: These are not real contacts I don't think.</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1072.2058299100033!2d-111.88157248979!3d40.52709278154015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x83e076281dd0aad5!2sMcDonald&#39;s!5e0!3m2!1sen!2sus!4v1500395806889" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>